<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="shortcut icon" href="#" />
{#    都是必须要写的，写自己文档复制粘贴过去就行#}
    <script src="/static/jquery-3.6.0.min.js"></script>
{#    引入jquert的标准文件#}
    <script src="/static/index.js"></script>
{#    引入对应的js文件#}
</head>
<body>
{#    body里写自己的HTML内容#}
    <h2>土豆表达式求值器</h2>
    <input type = "text" name="input_sentence" id="input_sentence" value="1+1"></input>
    <p name="output_sentence" id="output_sentence"></p>
    <button id="button">提交</button>
</body>
</html>